<div class="full-screen-container">
  <div class="homepage-wrapper">
    <section id="first-section" class="first-section">
      <div class="container">
        <div class="slogan-container">
          <div class="presentation">
            <img
              src="assets/img/homepage/logo_ABC.webp"
              alt="Groupe ABC logo"
              class="logo"
            />
          </div>

          <div class="slogan-box">
            <p>Un nouveau look pour une nouvelle ère.<br />
              <strong>Le Groupe ABC fait peau neuve !</strong><br />
              Notre site est temporairement indisponible pour cause de maintenance.<br />
              Nous vous préparons une toute nouvelle expérience, portée par notre nouveau logo et une charte graphique entièrement repensée.<br />
              Merci de votre compréhension et à très bientôt !
            </p>

            <hr />

            <p>A new look for a new era.<br />
              <strong>Groupe ABC is getting a makeover!</strong><br />
              Our website is temporarily unavailable due to maintenance.<br />
              We’re preparing a brand-new experience, featuring our redesigned logo and refreshed visual identity.<br />
              Thank you for your understanding, we’ll be back online soon!
            </p>
          </div>
        </div>
      </div>

      <div class="social-icons">
        <a href="https://wa.me/ton-numero" target="_blank" class="icon-link">
          <img src="/assets/icons/appel.png" alt="WhatsApp" />
        </a>
        <a href="mailto:tonmail@example.com" target="_blank" class="icon-link">
          <img src="/assets/icons/mail.png" alt="Mail" />
        </a>
      </div>
    </section>
  </div>
</div>
